@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
/* &family=Raleway:wght@100;200;300;400;500;600;700 */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b132b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.expense-itm-container {
  @apply grid grid-flow-col grid-cols-3 gap-2 items-center justify-items-center py-4 px-2 m-3  bg-medium-001 rounded-lg;
}

.card {
  @apply border-2 border-white-002 rounded-xl shadow-2xl;
}

.main-container {
  @apply lg:w-1/2 md:w-3/4 mx-auto p-6;
}

.select-container {
  @apply flex justify-between items-center;
}

.select-heading {
  @apply font-bold text-lg;
}

.select-dropdown {
  @apply text-primary h-8 w-24 m-2 rounded-md text-center font-bold;
}

.chart {
  @apply p-4 m-4 rounded-2xl bg-medium-001 flex justify-around h-60;
}

.chart-bar {
  @apply h-full flex flex-col items-center;
}

.chart-bar-inner {
  @apply h-full w-3 lg:w-4 border-2 border-dark-001 rounded-xl bg-primary overflow-hidden flex flex-col justify-end;
}

.chart-bar-fill {
  @apply w-full transition-all ease-out duration-700 bg-secondary border-2 border-secondary;
}

.chart-bar-label {
  @apply text-white-002;
}
